<app-navbar />
<div class="flex flex-row w-auto h-auto bg-white mx-32 my-10 gap-10">
  <div class="w-1/4">
    <ul class="py-1 mb-3" >
      <li class="block py-3 px-4 font-bold text-base text-sky-900 hover:bg-sky-100 hover:text-sky-600 rounded">
        <fa-icon [icon]="faTrello"></fa-icon>
        <a
          href="#"
          class="ml-4"
          >Board</a>
      </li>
      <li class="block py-3 px-4 font-bold text-base text-sky-900 hover:bg-sky-100 hover:text-sky-600 rounded">
        <fa-icon [icon]="faGopuram"></fa-icon>
        <a
          href="#"
          class="ml-4"
        >Templates</a>
      </li>
      <li class="block py-3 px-4 font-bold text-base text-sky-900 hover:bg-sky-100 hover:text-sky-600 rounded">
        <fa-icon [icon]="faHome"></fa-icon>
        <a
          href="#"
          class="ml-4"
        >Home</a>
      </li>
    </ul>
    <div class="flex w-auto">
      <div class="text-sm px-4 w-11/12 text-gray-500 font-bold">Workspaces</div>
      <div class="w-1/12"><fa-icon [icon]="faPlus"></fa-icon></div>
    </div>
  </div>
  <div class="w-3/4">
    <div class="flex gap-3 text-xl font-bold text-sky-950 pt-1 pl-3">
      <fa-icon [icon]="faClock"></fa-icon> <span>Recently viewed</span>
    </div>
    <app-board color="sky-700">Demo</app-board>
    <div
      class="w-auto h-24"
    ></div>
    <h2
      class="font-bold text-lg text-gray-500 ml-1 mb-3"
    >
      YOUR WORKSPACES
    </h2>
    <div
      class="flex w-auto h-auto justify-between"
    >
      <div class="flex bg-gradient-to-t from-red-700 to-red-300 h-12 w-12 rounded text-white text-3xl font-bold justify-center items-center ml-1">
        J
      </div>
      <div class = "flex justify-center items-center ml-3 mr-10">
        <h3
          class="text-sky-950 font-bold text-lg"
        >
          Juan Daniel's workspace
        </h3>
      </div>
      <div
        class="flex gap-5 justify-start w-auto"
      >
        <button
          class="bg-sky-100 px-3 rounded text-sky-900 font-semibold my-1 hover:bg-sky-600 hover:text-white"
        >Boards</button>
        <button
        class="bg-sky-100 px-3 rounded text-sky-900 font-semibold my-1 hover:bg-sky-600 hover:text-white"
        >Views</button>
        <button
        class="bg-sky-100 px-3 rounded text-sky-900 font-semibold my-1 hover:bg-sky-600 hover:text-white"
        >Members</button>
        <button
        class="bg-sky-100 px-3 rounded text-sky-900 font-semibold my-1 hover:bg-sky-600 hover:text-white"
        >Settings</button>
        <button
        class="bg-sky-100 px-3 rounded text-sky-900 font-semibold my-1 hover:bg-sky-600 hover:text-white"
        >Upgrade</button>
      </div>
    </div>
    <div
     class="flex overflow-x-auto gap-3 w-auto"
    >
      <app-board color="sky-700" fontWeight="bold">Demo</app-board>
      <app-board color="sky-700" fontWeight="bold">Demo</app-board>
      <app-board color="sky-700" fontWeight="bold">Demo</app-board>
      <app-board color="sky-100" [location]="true" fontSize="sm">Create new board</app-board>
  </div>
  </div>
</div>
