<app-navbar />
<div class="flex flex-row w-auto h-auto bg-white mx-32 my-10 gap-10">
  <div class="w-1/4">
    <ul class="py-1 mb-3" >
      <li class="block py-3 px-4 font-bold text-base text-sky-900 hover:bg-sky-100 hover:text-sky-600 rounded">
        <fa-icon [icon]="faTrello"></fa-icon>
        <a
          href="#"
          class="ml-4"
          >Board</a>
      </li>
      <li class="block py-3 px-4 font-bold text-base text-sky-900 hover:bg-sky-100 hover:text-sky-600 rounded">
        <fa-icon [icon]="faGopuram"></fa-icon>
        <a
          href="#"
          class="ml-4"
        >Templates</a>
      </li>
      <li class="block py-3 px-4 font-bold text-base text-sky-900 hover:bg-sky-100 hover:text-sky-600 rounded">
        <fa-icon [icon]="faHome"></fa-icon>
        <a
          href="#"
          class="ml-4"
        >Home</a>
      </li>
    </ul>
    <div class="flex w-auto px-2 justify-between mb-5">
      <div class="text-sm px-4 text-gray-500 font-bold">Workspaces</div>
      <div ><fa-icon [icon]="faPlus"></fa-icon></div>
    </div>
    <cdk-accordion>
      <cdk-accordion-item #accordionMenu="cdkAccordionItem">
        <button class="w-full py-1 px-2 flex justify-between" type="button" (click)="accordionMenu.toggle()">
          <p class="px-4 font-semibold text-sky-900">My workspace</p>
          <fa-icon [icon]="accordionMenu.expanded?faAngleUp:faAngleDown"></fa-icon>
        </button>
          <div
          [ngClass]="{
            hidden: !accordionMenu.expanded,
            block: accordionMenu.expanded
          }"
          >
          <ul class="ml-2 flex flex-col text-sm text-gray-700">
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faTrello"></fa-icon> Boards</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faHeart"></fa-icon> Highlights</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faBorderAll"></fa-icon> Views</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faUsers"></fa-icon> Members</a
              >
            </li>
            <li>
              <a class="block py-1 px-3"
                ><fa-icon [icon]="faGear"></fa-icon> Settings</a
              >
            </li>
          </ul>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>

    <cdk-accordion>
      @for (item of items; track item) {
        <cdk-accordion-item #accordionItem="cdkAccordionItem">
          <button class="w-full text-left flex justify-between pl-6 pr-2 py-2" type="button" (click)="accordionItem.toggle()">
            {{ item.label }}
            <fa-icon [icon]="accordionMenu.expanded?faAngleUp:faAngleDown"></fa-icon>
          </button>
          <hr />
          <div
            class="px-6 py-1 mb-2"
           [style.display]="accordionItem.expanded?'':'none'">
            <ul>
              @for(i of item.items; track i){
                <li class="py-1">
                  {{i.label}}
                </li>
                <hr />
              }
            </ul>
          </div>
        </cdk-accordion-item>
      }
    </cdk-accordion>
  </div>
  <div class="w-3/4">
    <div class="flex gap-3 text-xl font-bold text-sky-950 pt-1 pl-3">
      <fa-icon [icon]="faClock"></fa-icon> <span>Recently viewed</span>
    </div>
    <app-board color="sky-700">Demo</app-board>
    <div
      class="w-auto h-24"
    ></div>
    <h2
      class="font-bold text-lg text-gray-500 ml-1 mb-3"
    >
      YOUR WORKSPACES
    </h2>
    <div
      class="flex w-auto h-auto justify-between"
    >
      <div class="flex bg-gradient-to-t from-red-700 to-red-300 h-12 w-12 rounded text-white text-3xl font-bold justify-center items-center ml-1">
        J
      </div>
      <div class = "flex justify-center items-center ml-3 mr-10">
        <h3
          class="text-sky-950 font-bold text-lg"
        >
          Juan Daniel's workspace
        </h3>
      </div>
      <div
        class="flex gap-5 justify-start w-auto"
      >
        <button
          class="bg-sky-100 px-3 rounded text-sky-900 font-semibold my-1 hover:bg-sky-600 hover:text-white"
        >Boards</button>
        <button
        class="bg-sky-100 px-3 rounded text-sky-900 font-semibold my-1 hover:bg-sky-600 hover:text-white"
        >Views</button>
        <button
        class="bg-sky-100 px-3 rounded text-sky-900 font-semibold my-1 hover:bg-sky-600 hover:text-white"
        >Members</button>
        <button
        class="bg-sky-100 px-3 rounded text-sky-900 font-semibold my-1 hover:bg-sky-600 hover:text-white"
        >Settings</button>
        <button
        class="bg-sky-100 px-3 rounded text-sky-900 font-semibold my-1 hover:bg-sky-600 hover:text-white"
        >Upgrade</button>
      </div>
    </div>
    <div
     class="flex overflow-x-auto gap-3 w-auto"
    >
      <app-board color="sky-700" fontWeight="bold">Demo</app-board>
      <app-board color="sky-700" fontWeight="bold">Demo</app-board>
      <app-board color="sky-700" fontWeight="bold">Demo</app-board>
      <app-board color="sky-100" [location]="true" fontSize="sm">Create new board</app-board>
  </div>
  </div>
</div>
